<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (prods.length > 0) { %>
        <div class="grid">
            <table>
                <tr>
                    <th>Title</th>
                    <th>Qty</th>
                    <th>Price</th>
                </tr>
                <% for (let product of prods) { %>
                <tr>
                    <td><%= product.title %></td>
                    <td><%= product.cartItem.quantity %></td>
                    <td><%= product.price %></td>
                    <td>
                        <form action="/delete-item" method="post">
                            <input
                                type="hidden"
                                name="productId"
                                value="<%= product.id %>"
                            />
                            <input
                                type="hidden"
                                name="productPrice"
                                value="<%= product.price %>"
                            />
                            <button type="submit" class="btn">Delete</button>
                        </form>
                    </td>
                </tr>
                <% } %>
                <tr>
                    <td>Total -</td>
                    <td><%= prods.totalPrice %></td>
                </tr>
            </table>
        </div>
        <hr />
        <form action="/create-order" method="post" class="centered">
            <button type="submit" class="btn">Checkout</button>
        </form>
        <% } else { %>
        <h1>No Products in Cart!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>
</body>
